<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <title>Lesson</title>
</head>
<body>
<div th:replace="fragments/header"></div>
<div class="content">
    <h2>Lesson</h2>
    <p th:if="${message != null}" th:text="${message}"></p>
    <ul class="item">
        <li><b>Theme: </b><span th:text="${lesson.theme}"></span></li>
        <li><b>Subject: </b><span th:text="${lesson.subject}"></span></li>
        <li><b>Teacher: </b><span th:text="${teacher.name} + ' ' + ${teacher.surname}"></span></li>
        <li><b>Lesson date: </b><span th:text="${lesson.lessonDate}"></span></li>
        <li><b>Duration: </b><span th:text="${lesson.duration}"></span></li>
        <li><b>Status: </b><span th:text="${lesson.status}"></span></li>
        <li><b>Individual: </b><span th:text="${lesson.individual}"></span></li>
        <li><b>Cost: </b><span th:text="${lesson.cost}"></span></li>
        <li><b>Address: </b><span th:text="${lesson.address}"></span></li>
        <li><b>Average rating: </b><span th:text="${lesson.averageRating}"></span></li>
        <li><b>Max students number: </b><span th:text="${lesson.maxStudentsNumber}"></span></li>
        <li><b>Description: </b><span th:text="${lesson.description}"></span></li>
        <li><b>Free places left: </b><span th:text="${lesson.freePlacesLeft}"></span></li>
        <li><b>Fixed salary: </b><span th:text="${lesson.fixedSalary}"></span></li>
        <li><b>Unfixed salary: </b><span th:text="${lesson.unfixedSalary}"></span></li>

        <a class="button" href="">Watch reviews</a>
        <div th:if="${#authentication.getName() == teacher.username}" class="horizontal_buttons">
            <a sec:authorize="hasAuthority('EDIT')" class="button2" th:href="@{'/lessons/' + ${lesson.id} + '/edit'}">Edit
                lesson</a>
            <form sec:authorize="hasAuthority('DELETE')" th:action="@{'/lessons/' + ${lesson.id}}" method="DELETE">
                <input type="submit" value="Delete lesson" class="button2">
            </form>
            <form th:if="${lesson.status != T(com.tsemkalo.senlaExperienceExchangeApp.enums.LessonStatus).DENIED}"
                  sec:authorize="hasAuthority('EDIT')" th:action="@{'/lessons/' + ${lesson.id} + '/deny'}"
                  method="POST">
                <input type="submit" value="Deny lesson" class="button2">
            </form>
        </div>
        <form sec:authorize="hasAuthority('SUBSCRIBE')" th:if="${subscribed}" th:action="@{'/lessons/' + ${course.id} + '/unsubscribe'}" method="POST">
            <input type="submit" value="Unsubscribe lesson" class="button2">
        </form>
        <form sec:authorize="hasAuthority('SUBSCRIBE')" th:if="${!subscribed}" th:action="@{'/lessons/' + ${course.id} + '/subscribe'}" method="POST">
            <input type="submit" value="Subscribe lesson" class="button2">
        </form>
    </ul>
</div>

<div th:replace="fragments/footer"></div>
</body>

</html>