<!DOCTYPE html>
<html>
<head>
    <title>Password reset</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<h2>Hello, ${name} ${surname}</h2>
<h3>
    We have received a request to reset the password for your Experience Exchange account. To create a new password,
    follow the link <a href="http://localhost:8080/user/reset_password/${resetPasswordToken}">http://localhost:8080/user/reset_password/${resetPasswordToken}</a>
</h3>
<h4>if you didn't send a request, ignore the email</h4>
</body>
</html>