<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
	<title>Reviews</title>
</head>

<body>
	<div th:replace="fragments/header"></div>
	<div class="content">
		<h2>Reviews for lesson 6</h2>
		<ul class="item">
            <li><span>User name: </span>sjn</li>
			<li><span>Rating: </span>sjn</li>
			<li><span>Text: </span>ekjfhiefihwb</li>
		</ul>
		<ul class="item">
            <li><span>User name: </span>sjn</li>
			<li><span>Rating: </span>sjn</li>
			<li><span>Text: </span>ekjfhiefihwb</li>
		</ul>
        <ul class="item">
            <li><span>User name: </span>sjn</li>
			<li><span>Rating: </span>sjn</li>
			<li><span>Text: </span>ekjfhiefihwb</li>
		</ul>
        <ul class="item">
            <li><span>User name: </span>sjn</li>
			<li><span>Rating: </span>sjn</li>
			<li><span>Text: </span>ekjfhiefihwb</li>
		</ul>
	</div>

	<div th:replace="fragments/footer"></div>
</body>

</html>